absl-py==2.3.1
accelerate==1.12.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
attrs==25.4.0
av==17.0.0
blobfile==3.1.0
camdm @ git+https://github.com/AmitMY/CAMDM@26f25d097ecac59a3ae690cc0b29c1d495107de2
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
choreographer==1.2.1
click==8.3.1
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.2
cycler==0.12.1
datasets==4.4.2
dill==0.4.0
diskcache==5.6.3
dtaidistance==2.3.13
evaluate==0.4.6
fastapi==0.109.0
fastdtw==0.3.4
filelock==3.20.2
flatbuffers==25.12.19
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2025.10.0
grpcio==1.76.0
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huggingface-hub==0.36.0
humanfriendly==10.0
idna==3.11
imageio-ffmpeg==0.6.0
iniconfig==2.3.0
intel-openmp==2021.4.0
Jinja2==3.1.6
joblib==1.5.3
kaleido==1.2.0
kiwisolver==1.4.9
lightning==2.6.0
lightning-utilities==0.15.2
llvmlite==0.46.0
logistro==2.0.1
lxml==6.0.2
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
mediapipe==0.10.9
mkl==2021.4.0
ml_dtypes==0.5.4
more-itertools==10.8.0
mpmath==1.3.0
multidict==6.7.0
multiprocess==0.70.18
networkx==3.6.1
numba==0.63.1
numpy==1.26.4
onnx==1.20.0
onnxruntime==1.23.2
openai-whisper==20231117
opencv-contrib-python==4.11.0.86
opencv-python==4.9.0.80
orjson==3.11.5
packaging==25.0
pandas==2.3.3
pillow==12.1.0
pluggy==1.6.0
portalocker==3.2.0
pose-anonymization @ git+https://github.com/sign-language-processing/pose-anonymization@bc4eaa668a38a5701819d88677f3d1349e89b886
pose-evaluation @ git+https://github.com/sign-language-processing/pose-evaluation@d8129232615f540b3ad332298a8ba6a309c08e0b
pose_format==0.12.3
propcache==0.4.1
protobuf==6.33.4
psutil==7.2.1
pyarrow==22.0.0
pycparser==2.23
pycryptodomex==3.23.0
pydantic==2.5.3
pydantic-settings==2.1.0
pydantic_core==2.14.6
Pygments==2.19.2
pympi-ling==1.71
pyparsing==3.3.1
pyreadline3==3.5.4
pytest==9.0.2
pytest-timeout==2.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-multipart==0.0.6
pytorch-lightning==2.6.0
pytz==2025.2
pywin32==311
PyYAML==6.0.3
regex==2025.11.3
requests==2.32.5
rich==14.2.0
sacrebleu==2.5.1
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.11.4
sentence-transformers==5.2.0
sentencepiece==0.2.1
shellingham==1.5.4
sign-language-segmentation @ git+https://github.com/sign-language-processing/segmentation@4ac7b10b9878b6c60bbc14ba8ebe09af386f0cfe
signwriting @ git+https://github.com/sign-language-processing/signwriting@1e0335513e4ebfbd278eced40c12c21fbccfc77a
signwriting-animation @ git+https://github.com/sign-language-processing/signwriting-animation.git@d9c83848a170efc24140dfbf8ddacef0a869e03b
signwriting-evaluation @ git+https://github.com/sign-language-processing/signwriting-evaluation@f76634ecab99c73738c1b5873808b8d3739bd252
signwriting-translation @ git+https://github.com/sign-language-processing/signwriting-translation.git@8a2ace4bfcdcb3479027a7b3c2235631780e896f
simple-video-utils==0.0.6
simplejson==3.20.2
simplemma==1.1.2
six==1.17.0
sockeye @ git+https://github.com/sign-language-processing/sockeye@00d0557140f2408e31a9f7d13237148e3736ff9d
sounddevice==0.5.3
spoken-to-signed @ git+https://github.com/ZurichNLP/spoken-to-signed-translation.git@3b41c3bedb3e0b46e6bb304b713f29445bf955cc
starlette==0.35.1
sympy==1.13.1
tabulate==0.9.0
tbb==2021.13.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.1
torch==2.3.1
torch-ema==0.3
torch-tb-profiler==0.4.3
torchaudio==2.3.1
torchmetrics==1.8.2
torchvision==0.18.1
tqdm==4.67.1
transformers==4.57.3
typer==0.21.0
typer-slim==0.21.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.2
uvicorn==0.27.0
watchfiles==1.1.1
websockets==15.0.1
Werkzeug==3.1.4
xxhash==3.6.0
yarl==1.22.0
